#bootstrap-overrides .navbar-brand {
  color: #F280A1;
  font-size: 23px;
}
/*
#bootstrap-overrides #hej {
  width: 100%;
}

#bootstrap-overrides .form-group {
  width: 70%;
}

#bootstrap-overrides .form-control {
  width: 100%;
}
*/
